doctype html
html
	head
		meta(charset="utf-8")
		title Aposentadoria Ativa
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css", integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2", crossorigin="anonymous")
		link(rel="preconnect", href="https://fonts.gstatic.com")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto&display=swap")
		link(rel="stylesheet", href="/static/stylesheets/style.css")
		link(rel="icon", type="imagem/png", href="/static/images/favicon.png") 
		title Aposentadoria Ativa
		script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous")
	body.pages
		.conteiner.justify-content-center
			nav(class="row navbar fixed-top bg-light")
				a(class="navbar-brand active col d-flex justify-content-center", href="#forum") 
					img(src="/static/images/home-active.png", class="img-fluid menu-img")
				a(class="navbar-brand col d-flex justify-content-center", href="#aposentadoria") 
					img(src="/static/images/retirement.png", class="img-fluid menu-img")
				a(class="navbar-brand col d-flex justify-content-center", href="#perfil") 
					img(src="/static/images/profile.png", class="img-fluid menu-img")

		div
			div(class="search-bar input-group input-group-lg mb-3")
				input(type="text", class="form-control", placeholder="Pesquise aqui")
				div(class="input-group-append")
					button(class="btn btn-outline-secondary" type="button")
						img(src="/static/images/search.png", class="img-fluid img-search")
			div(class="container-fluid", id="filter")
				div
					label Filtrar por tópico:
				.container.filter
					.row.justify-content-around.filter
						.col.justify-content-center
							btn(class="btn btn-sm btn-light btn-block") Viagem
						.col.justify-content-center
							btn(class="btn btn-sm btn-light btn-block") Fotografia
						.col.justify-content-center
							btn(class="btn btn-sm btn-light btn-block") Ioga
						.col.justify-content-center
							btn(class="btn btn-sm btn-light btn-block") Jardinagem
					.row.justify-content-around.filter
						.col.justify-content-center
							btn(class="btn btn-sm btn-light btn-block") Exercícios
						.col.justify-content-center
							btn(class="btn btn-sm btn-light btn-block") Culinária
						.col.justify-content-center
							btn(class="btn btn-sm btn-light btn-block") Pintura
						.col.justify-content-center
							btn(class="btn btn-sm btn-light btn-block") Saúde
			
			.container
				if posts
					each post in posts
						.container.justify-content-around.post.main-interests
							.row
								.col-9
									a(class="h3 post-title", href="")=post.titulo
									p=post.conteudo
								.col-3
									img(src=post.img, alt="", class="img-posts")
							.row
								each tag in post.tags
									.col
										p.post-tags=tag
				if otherPosts
					each otherPost in otherPosts
						.container.justify-content-around.post.not-main-interests
							.row
								.col-9
									a(class="h3 post-title", href="")=otherPost.titulo
									p=otherPost.conteudo
								.col-3
									img(src=otherPost.img, alt="", class="img-posts")
							.row
								each tag in otherPost.tags
									.col
										p.post-tags=tag
		script(src="/static/js/index.js")